$colorWhite: #fff;
$colorWhite2: #f1f1f1;
$colorBlack: #222;
$colorPink: #f60091;
$colorPurple: #b888ff;
$colorGrey: #444;
$colorGrey2: #959595;
$colorGrey-alt: #d1e2e9;
$colorYellow: #fbb419;
$colorGreen: #59b210;
$colorPrimary: #d1e2e9;
$colorSecondary: #253b70;
$colorTertiary: #fc7c7c;
$colorTertiary2: crimson;